.chat-container {
  height: 37.5rem;
  width: 25rem;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
}
.chat-body {
  padding: 0 10px;
  height: 34.375rem;
  overflow-y: scroll;
  color: #000;
  display: flex;
  flex-direction: column;
}

.message-container {
  max-width: 15.625rem;
  width: fit-content;
  background-color: lightgrey;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 7px;
  align-self: start;
  text-align: start;
}

.message-mine {
  align-self: end;
  text-align: end;
  background-color: skyblue;
}

.chat-footer {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  bottom: 0;
  height: 3.125rem;
}
